In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
init_notebook_mode(connected = True)
from bubbly.bubbly import bubbleplot

In [2]:
deleveries = pd.read_csv("C:\\Users\\Sowmya Surampalli\\Downloads\\IPL+Dataset\\IPL Dataset\\deliveries.csv")
deleveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [3]:
matches = pd.read_csv("C:\\Users\\Sowmya Surampalli\\Downloads\\IPL+Dataset\\IPL Dataset\\matches.csv")
matches.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3', 'home_team'],
      dtype='object')

In [4]:
overall_data= pd.merge(deleveries,matches,left_on="match_id",right_on="id")

In [5]:
overall_data.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder', 'id', 'season', 'city', 'date', 'team1',
       'team2', 'toss_winner', 'toss_decision', 'result', 'dl_applied',
       'winner', 'win_by_runs', 'win_by_wickets', 'player_of_match', 'venue',
       'umpire1', 'umpire2', 'umpire3', 'home_team'],
      dtype='object')

In [6]:
overall_data.sort_values(['win_by_runs'],ascending=False).head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,home_team
10240,44,1,Mumbai Indians,Delhi Daredevils,8,1,LMP Simmons,PA Patel,Mohammed Shami,0,...,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN,team2
10373,44,2,Delhi Daredevils,Mumbai Indians,9,2,PJ Cummins,K Rabada,Harbhajan Singh,0,...,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN,team2
10242,44,1,Mumbai Indians,Delhi Daredevils,8,3,PA Patel,LMP Simmons,Mohammed Shami,0,...,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN,team2
10241,44,1,Mumbai Indians,Delhi Daredevils,8,2,LMP Simmons,PA Patel,Mohammed Shami,0,...,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN,team2
10239,44,1,Mumbai Indians,Delhi Daredevils,7,6,LMP Simmons,PA Patel,A Mishra,0,...,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN,team2
10238,44,1,Mumbai Indians,Delhi Daredevils,7,5,PA Patel,LMP Simmons,A Mishra,0,...,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN,team2
10237,44,1,Mumbai Indians,Delhi Daredevils,7,4,LMP Simmons,PA Patel,A Mishra,0,...,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN,team2
10236,44,1,Mumbai Indians,Delhi Daredevils,7,3,LMP Simmons,PA Patel,A Mishra,0,...,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN,team2
10235,44,1,Mumbai Indians,Delhi Daredevils,7,2,PA Patel,LMP Simmons,A Mishra,0,...,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN,team2
10234,44,1,Mumbai Indians,Delhi Daredevils,7,1,LMP Simmons,PA Patel,A Mishra,0,...,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN,team2

In [7]:
batsmen_scores = overall_data[['season','batsman','batsman_runs']].groupby(['season','batsman']).agg({'batsman_runs':sum})

batsmen_scores

                          batsman_runs
season batsman
2008   A Chopra                     42
       A Kumble                     13
       A Mishra                     37
       A Mukund                      0
       A Nehra                       3
...                                ...
2017   Washington Sundar             9
       YK Pathan                   143
       YS Chahal                    13
       Yuvraj Singh                252
       Z Khan                        4

[1531 rows x 1 columns]

In [8]:
batsmen_scores['batsman_runs'].groupby(level=0, group_keys=False).nlargest(1)

season  batsman
2008    SE Marsh        616
2009    ML Hayden       572
2010    SR Tendulkar    618
2011    CH Gayle        608
2012    CH Gayle        733
2013    MEK Hussey      733
2014    RV Uthappa      660
2015    DA Warner       562
2016    V Kohli         973
2017    DA Warner       641
Name: batsman_runs, dtype: int64

In [9]:
deleveries.dismissal_kind.value_counts()

caught                   4373
bowled                   1382
run out                   755
lbw                       455
stumped                   243
caught and bowled         211
retired hurt                9
hit wicket                  9
obstructing the field       1
Name: dismissal_kind, dtype: int64

In [10]:
wickets_case_list = ['caught','bowled','run out','stumped','caught and bowled','hit wicket']

In [11]:
overall_data['wickets']=overall_data['dismissal_kind'].apply(lambda x: 1 if x in wickets_case_list else 0)

In [12]:
wicket_scores = overall_data[['season','bowler','wickets']].groupby(['season','bowler']).agg({'wickets':sum})

In [13]:
wicket_scores['wickets'].groupby(level=0,group_keys=False).nlargest(1)

season  bowler
2008    Sohail Tanvir    21
2009    RP Singh         26
2010    PP Ojha          21
2011    SL Malinga       30
2012    M Morkel         29
2013    DJ Bravo         32
2014    MM Sharma        25
2015    DJ Bravo         28
2016    B Kumar          23
2017    JD Unadkat       27
Name: wickets, dtype: int64

### Batsmen who hit more number of fours

#### Per Season

In [14]:
batsmen_fours_data = overall_data[overall_data['batsman_runs']==4][['season','batsman','batsman_runs']].groupby(['season','batsman']).count()

In [15]:
batsmen_fours_data['batsman_runs'].groupby(level=0,group_keys=False).nlargest(1)

season  batsman
2008    G Gambhir       68
2009    ML Hayden       60
2010    SR Tendulkar    86
2011    SR Tendulkar    67
2012    AM Rahane       73
2013    MEK Hussey      81
2014    RV Uthappa      74
2015    DA Warner       65
2016    DA Warner       88
2017    DA Warner       63
Name: batsman_runs, dtype: int64

#### Overall

In [16]:
overall_batsmen_fours_data = overall_data[overall_data['batsman_runs']==4][['batsman','batsman_runs']].groupby(['batsman']).count()

In [17]:
overall_batsmen_fours_data = overall_batsmen_fours_data.reset_index()
overall_batsmen_fours_data.sort_values(['batsman_runs'],ascending=False).head(1)

       batsman  batsman_runs
112  G Gambhir           484

### Batsmen who hit more number of sixes

#### Per season

In [18]:
batsmen_sixes_data = overall_data[overall_data['batsman_runs']==6][['season','batsman','batsman_runs']].groupby(['season','batsman']).count()

In [19]:
batsmen_sixes_data['batsman_runs'].groupby(level=0,group_keys=False).nlargest(1)

season  batsman
2008    ST Jayasuriya    31
2009    AC Gilchrist     29
2010    RV Uthappa       27
2011    CH Gayle         44
2012    CH Gayle         59
2013    CH Gayle         52
2014    GJ Maxwell       36
2015    CH Gayle         38
2016    V Kohli          38
2017    DA Warner        26
Name: batsman_runs, dtype: int64

In [20]:
overall_batsmen_sixes_data = overall_data[overall_data['batsman_runs']==6][['batsman','batsman_runs']].groupby(['batsman']).count()

In [21]:
overall_batsmen_sixes_data = overall_batsmen_sixes_data.reset_index()
overall_batsmen_sixes_data.sort_values(['batsman_runs'],ascending=False).head(1)

     batsman  batsman_runs
55  CH Gayle           266

### Team Performance Stats

In [22]:
seasons_grouped_data = matches[['season','winner','id']].groupby(['season','winner']).count()
seasons_grouped_data = seasons_grouped_data.reset_index()
seasons_grouped_data = seasons_grouped_data.pivot(columns='winner',values='id',index='season')
seasons_grouped_data.fillna(0)

winner,Chennai Super Kings,Deccan Chargers,Delhi Daredevils,Gujarat Lions,Kings XI Punjab,Kochi Tuskers Kerala,Kolkata Knight Riders,Mumbai Indians,Pune Warriors,Rajasthan Royals,Rising Pune Supergiants,Royal Challengers Bangalore,Sunrisers Hyderabad
season,,,,,,,,,,,,,
2008,9.0,2.0,7.0,0.0,10.0,0.0,6.0,7.0,0.0,13.0,0.0,4.0,0.0
2009,8.0,9.0,10.0,0.0,7.0,0.0,3.0,5.0,0.0,6.0,0.0,9.0,0.0
2010,9.0,8.0,7.0,0.0,4.0,0.0,7.0,11.0,0.0,6.0,0.0,8.0,0.0
2011,11.0,6.0,4.0,0.0,7.0,6.0,8.0,10.0,4.0,6.0,0.0,10.0,0.0
2012,10.0,4.0,11.0,0.0,8.0,0.0,12.0,10.0,4.0,7.0,0.0,8.0,0.0
2013,12.0,0.0,3.0,0.0,8.0,0.0,6.0,13.0,4.0,11.0,0.0,9.0,10.0
2014,10.0,0.0,2.0,0.0,12.0,0.0,11.0,7.0,0.0,7.0,0.0,5.0,6.0
2015,10.0,0.0,5.0,0.0,3.0,0.0,7.0,10.0,0.0,7.0,0.0,8.0,7.0
2016,0.0,0.0,7.0,9.0,4.0,0.0,8.0,7.0,0.0,0.0,5.0,9.0,11.0
2017,0.0,0.0,6.0,4.0,7.0,0.0,9.0,12.0,0.0,0.0,10.0,3.0,8.0

In [23]:
fig = go.Figure()
for column in seasons_grouped_data.columns.to_list():
    fig.add_trace(
        go.Bar(
            x = seasons_grouped_data.index,
            y = seasons_grouped_data[column],
            name = column
        )
    )

In [24]:
buttons_list=[]
buttons_list.append(
    dict(
        label = 'All',
        method = 'update',
        args = [
            {'visible': [True]*len(seasons_grouped_data.columns) },
            {'title': 'All','showlegend':True}
        ]
    )
)
i=0
for column in seasons_grouped_data.columns.to_list():
    visibility_list=[False]*len(seasons_grouped_data.columns)
    visibility_list[i]=True
    i+=1
    buttons_list.append(
    dict(
        label = column,
        method = 'update',
        args = [
            {'visible': visibility_list},
            {'title': 'All','showlegend':True}
        ]
    )
    )

In [25]:
fig.update_layout(
    updatemenus=[go.layout.Updatemenu(
        active=0,
        buttons=buttons_list
        )
    ])

### Home Vs Away Win Percentages

In [55]:
matches['home_team'] = matches['home_team'].fillna('NA')

In [56]:
matches['home_team'].value_counts()

team1    264
team2    217
NA       155
Name: home_team, dtype: int64

In [57]:
matches['home_team_name']=" "

In [58]:
for index,row in matches.iterrows():
    x = row['team1'] if row['home_team']=='team1' else (row['team2'] if row['home_team']=='team2' else 'NA')
    matches.set_value(index,'home_team_name',x)

C:\Users\Sowmya Surampalli\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:

set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [60]:
home_place_wins = matches[matches['home_team_name'] == matches['winner']][['winner','id']].groupby('winner').count()
home_place_wins = home_place_wins.reset_index()
home_place_wins = home_place_wins.rename(columns={"id": "home_place_wins",
                              "winner":"team"})

In [61]:
overall_home_place_games = matches[['home_team_name','id']].groupby('home_team_name').count()
overall_home_place_games = overall_home_place_games.reset_index()
overall_home_place_games = overall_home_place_games.rename(columns={"id": "overall_home_place_games",
                              "home_team_name":"team"})

In [62]:
home_team_losses = matches[matches['home_team_name'] != matches['winner']][['home_team_name','id']].groupby('home_team_name').count()
home_team_losses = home_team_losses.reset_index()
home_team_losses= home_team_losses.rename(columns={"id": "home_team_losses",
                              "home_team_name":"team"})
home_team_losses

                           team  home_team_losses
0           Chennai Super Kings                14
1               Deccan Chargers                15
2              Delhi Daredevils                33
3                 Gujarat Lions                 7
4               Kings XI Punjab                28
5          Kochi Tuskers Kerala                 3
6         Kolkata Knight Riders                21
7                Mumbai Indians                23
8                            NA               155
9                 Pune Warriors                12
10             Rajasthan Royals                14
11      Rising Pune Supergiants                 6
12  Royal Challengers Bangalore                32
13          Sunrisers Hyderabad                10

In [63]:
other_place_wins = matches[matches['home_team_name'] != matches['winner']][['winner','id']].groupby('winner').count()
other_place_wins = other_place_wins.reset_index()
other_place_wins = other_place_wins.rename(columns = {"winner":"team","id":"other_place_wins"})
other_place_wins

                           team  other_place_wins
0           Chennai Super Kings                46
1               Deccan Chargers                26
2              Delhi Daredevils                39
3                 Gujarat Lions                10
4               Kings XI Punjab                43
5          Kochi Tuskers Kerala                 4
6         Kolkata Knight Riders                40
7                Mumbai Indians                47
8                 Pune Warriors                 8
9              Rajasthan Royals                32
10      Rising Pune Supergiants                10
11  Royal Challengers Bangalore                43
12          Sunrisers Hyderabad                22

In [69]:
team1_matches = matches[['team1','id']].groupby('team1').count()
team1_matches = team1_matches.reset_index()
team1_matches = team1_matches.rename(columns={"team1":"team","id":"team1_matches"})
team2_matches = matches[['team2','id']].groupby('team2').count()
team2_matches = team2_matches.reset_index()
team2_matches = team2_matches.rename(columns={"team2":"team","id":"team2_matches"})
overall_matches = pd.merge(team1_matches, team2_matches, on="team", how="inner")
overall_matches['total_matches'] = overall_matches['team1_matches']+ overall_matches['team2_matches']
overall_matches = overall_matches.drop(['team1_matches','team2_matches'],axis=1)
overall_matches

                           team  total_matches
0           Chennai Super Kings            131
1               Deccan Chargers             75
2              Delhi Daredevils            147
3                 Gujarat Lions             30
4               Kings XI Punjab            148
5          Kochi Tuskers Kerala             14
6         Kolkata Knight Riders            148
7                Mumbai Indians            157
8                 Pune Warriors             46
9              Rajasthan Royals            118
10      Rising Pune Supergiants             30
11  Royal Challengers Bangalore            152
12          Sunrisers Hyderabad             76

In [70]:
matches_df = pd.merge(home_place_wins,overall_home_place_games,on="team",how="inner")

In [71]:
matches_df = pd.merge(matches_df,home_team_losses,on="team",how="inner")

In [72]:
matches_df = pd.merge(matches_df,overall_matches,on="team",how="inner")

In [73]:
matches_df

,team,home_place_wins,overall_home_place_games,home_team_losses,total_matches
0,Chennai Super Kings,33,47,14,131
1,Deccan Chargers,3,18,15,75
2,Delhi Daredevils,23,56,33,147
3,Gujarat Lions,3,10,7,30
4,Kings XI Punjab,27,55,28,148
5,Kochi Tuskers Kerala,2,5,3,14
6,Kolkata Knight Riders,37,58,21,148
7,Mumbai Indians,45,68,23,157
8,Pune Warriors,4,16,12,46
9,Rajasthan Royals,31,45,14,118
10,Rising Pune Supergiants,5,11,6,30
11,Royal Challengers Bangalore,30,62,32,152
12,Sunrisers Hyderabad,20,30,10,76